.navbar {
	width: 100%;
	height: 70px;
	background-color: #1DA1F2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.addButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.addButton {
	border: none;
	outline: none;
	padding: 8px 0;
	background-color: #acacac;
	border-radius: 7px;
	width: 800px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: "Segoe UI"
}

.addMessageInput {
	width: 600px;
	height: 100px;
	border-radius: 10px;
	font-size: 20px;
}

.buttonsContainer {
	display: block;
	margin-top: 10px;
}

.buttonsContainer button {
	width: 250px;
	height: 40px;
	margin-left: 40px;
	background-color: #1DA1F2;
	color: white;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 18px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
}

.logo_and_menu {
	display: flex;
}

.logo_and_menu {
	cursor: default;
}

.menuBtn { 
	color: white;
	font-size: 38px; 
	cursor: pointer;
	margin-top: 20px;
	margin-left: 15px;
}